#
# Author: Kit Chambers
# Contact: kit.chambers@motionsignaltechnologies.com
#
# Motion Signal Technologies Ltd. 
# All rights reserved 
#
# The contents of this file are considered proprietary and usage or 
# reproduction without prior authorization is strictly prohibited.  
#

setuptools>=72.1.0
decorator>=4.4.2
numpy>=2.0.1
